<div class="row">
  <app-categories class="col-3"></app-categories>
  <div class="container col-9">
    <div class="row">
      <div *ngFor="let auction of auctionsService.auctions" class="card m-sm-4 m-xl-3 m-lg-4" style="width: 18rem; ">
        <img style="margin-top: 3px;width: 265px;size: auto "
             src="{{auction.imgFirst}}" class="card-img-top" alt="No product image entered">
        <div class="card-body">
          <h5 style="text-align: center">{{auction.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <button routerLink="/auctionpage/{{auction.id}}" style="margin-left: 64px;align-items: center" class="btn btn-secondary" id="auctionPrice{{auction.id}}" name="tryy" >{{auction.price | currency:"₺":false}} </button>
        </div>
      </div>
    </div>
  </div>
</div>


